// Heading Color
$heading-color: #262626;

// Text Color
$text-color: #6a6a6a;

// Default Background
$bg-default: #0c0527;

// Gray Background
$bg-gray: #f3f3f3;

// Primary Color
$pri-color: #bd177a;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #3cf30e;

// Border Color
$border-color: #eaeaea;

// Hover Color
$hover-color: #3cf30e;

// Footer Color
$footer-color: #3cf30e;

// Secondary Color
$secondary-color: #838383;
